.Home_container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 90vh;
  background-size: cover;
  display: flex;
}

@media screen and(  max-width:576px) {
  .Home_container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
    background-size: cover;
  }
}
.Home_content {
  color: white;
  margin-top: 70px;
  margin-left: 40px;
}
.Find_jobs_button {
  background-color: royalblue;
  color: white;
  border: none;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}
